:root {
    --hover-link-color: #F0BF5F;
    --defoult-n-hover-color: #CC9933;
    --active-color: #A47312;
    --grey-text: #999999;
    --title-text: #333333;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: var(--defoult-n-hover-color);
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerRegular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerLight'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Muller';
    src: local('MullerMedium'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerBold'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    background: #F1F1F1;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*global*/

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn__reset {
    padding: 13px 20px;
    color: var(--defoult-n-hover-color);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--defoult-n-hover-color);
    border-radius: 10px;
    transition: color 0.1s linear, background-color 0.15s ease-in-out;
}

.btn__reset:focus {
    color: #fff;
    background-color: var(--defoult-n-hover-color);
}

.btn__reset:hover {
    color: #fff;
    background-color: var(--defoult-n-hover-color);
}

.btn__reset:active {
    color: #fff;
    background-color: var(--active-color);
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container .section-title {
    margin: 0;
    margin-bottom: 20px;
    margin-right: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--title-text);
}

.section-offset {
    padding-bottom: 70px;
}


/*header*/

.header {
    padding: 30px 0 70px 0;
}

.header__container {
    align-items: center;

}

.account {
    display: flex;
    position: relative;
}

.header__container:not(:last-child) {
    display: flex;
    margin-bottom: 30px;
}

.top-header__contact {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: auto;
}

.contact__address {
    position: relative;
}

.contact__logo {
    margin-right: 40px;
}

.contact__tel {
    color: #666666;
}

.navigation__link {
    color: #666;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.navigation__link,
.contact__tel {
    transition: color 0.15s linear, outline 0.1s linear;
}

.navigation__link::after,
.contact__tel::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid var(--defoult-n-hover-color);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    opacity: 0;
    transform: translate(-50%, -50%);
}

.navigation__link:focus::after,
.contact__tel:focus::after {
    opacity: 1;
}



.navigation__link:hover,
.contact__tel:hover {
    color: var(--defoult-n-hover-color);
    outline: none;
}

.navigation__link:active,
.contact__tel:active {
    color: var(--active-color);
}

.top-header__icon {
    margin-right: 7px;
    fill: var(--defoult-n-hover-color);
}


.link::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid var(--defoult-n-hover-color);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    opacity: 0;
    transform: translate(-50%, -50%);
}

.link:focus::after {
    opacity: 1;
}


.link:focus .icon {
    fill: var(--defoult-n-hover-color);
}

.link:hover {
    color: var(--hover-link-color);
    outline: none;
}

.link:hover .icon {
    fill: var(--hover-link-color);
}

.link:active {
    color: var(--active-color);
}

.link:active .icon {
    fill: var(--active-color);
}


.bottom-header {
    display: flex;
    background-color: white;
    border-radius: 15px;
}

.navigation__list {
    display: flex;
    gap: 45px;
}

.navigation__item {
    position: relative;
    margin: 27px 0;
}

.navigation__item:first-child {
    margin: 27px 0 27px 45px;
}


.bottom-header__navigation {
    margin: 0;
    margin-right: auto;
}

.bottom-header__btn:not(:last-child) {
    margin-right: 40px;
}

.bottom-header__btn:last-child {
    margin-right: 45px;
}

/*main*/

.panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1170px;
    height: 540px;
    gap: 24px;

}

.horizontal-offer {
    position: relative;
    width: 573px;
    height: 258px;
    border-radius: 15px;

}

.vertical-offer {
    position: relative;
    width: 573px;
    height: 540px;
    border-radius: 15px;
}

.firs-offer {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offers/maldivs.jpg);
}

.second-off {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offers/crit.jpg);
}

.third-off {
    background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offers/lux.jpg);

}

.offer-txt {
    margin-left: 45px;
}

.horizontal-title {
    padding: 40px 0 0 0;
    margin: 0 108px 15px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.vertical-title {
    padding: 215px 0 0 0;
    margin: 0 229px 15px 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.horizontal-offer-price {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.vertical-offer-price {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}


.show-more-link {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--hover-link-color);
}

.offer-txt__icon {
    stroke: var(--hover-link-color);
}

.show-more-link:active {
    color: #fff;
}

.show-more-link:active .offer-txt__icon {
    stroke: #fff;
}


/*about-us*/

.about-us-description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/*service*/

.services-cards {
    flex-wrap: wrap;
    gap: 24px;
}

.service-preview {
    position: relative;
    width: 573px;
    height: 330px;
    border-radius: 15px;
    background: #FFFFFF;
}

.service-preview-image {
    margin-bottom: 26px;
    border-radius: 15px 15px 0px 0px;
}

.service-title {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
}

.service-text-container {
    padding: 0 0 0 45px;
    margin: 0 45px 35px 0;
}

.service-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.service-link:focus {
    outline: none;
}

.link__icon {
    stroke: var(--defoult-n-hover-color);
}

.link:hover .link__icon {
    stroke: var(--hover-link-color);
}

.link:active .link__icon {
    stroke: var(--defoult-n-hover-color);
}




/*advantages*/

.advantages-list {
    flex-wrap: wrap;
    gap: 22px;
}

.advantages-item {
    width: 276px;
    height: 276px;
    border-radius: 15px;
    background-color: white;
}

.advantege-container {
    margin: 40px 42px 32px 45px;
}

.advantege-icon {
    margin-bottom: 10px;
}

.advantages-discription {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;

}


/*placement*/

.placement-list {
    flex-wrap: wrap;
    gap: 24px;
}

.placement-item {
    width: 374px;
    height: 440px;

    background: #FFFFFF;
    border-radius: 15px;

    background-repeat: no-repeat;
    background-size: contain;
}

.placement-container {
    margin: 250px 45px 45px 45px;
}


.price-container {
    justify-content: space-between;
    gap: 52px;
    margin-bottom: 16px;
}

.price-block {
    gap: 4px;
    align-items: center;
}

.rating-block:not(:last-child) {
    margin-right: 6px;
}

.grey-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--grey-text);
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.dark-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.hotel-name {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.hotel-placement {
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.numbers {
    padding: 13px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

}

.first-plc {
    background-image: url(../img/placements/1.jpg);
}

.second-plc {
    background-image: url(../img/placements/2.jpg);
}

.third-plc {
    background-image: url(../img/placements/3.jpg);
}

.fourth-plc {
    background-image: url(../img/placements/4.jpg);
}

.fifth-plc {
    background-image: url(../img/placements/5.jpg);
}

.sixth-plc {
    background-image: url(../img/placements/6.jpg);
}

.seventh-plc {
    background-image: url(../img/placements/7.jpg);
}

.eight-plc {
    background-image: url(../img/placements/8.jpg);
}

.show-more-item {
    position: relative;
    background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/placements/9.jpg);
    transition: 0.07s linear;
}

.show-more-item:active {
    transform: scale(0.95);
}


.show-more-text {
    display: inline-block;
    margin: 373px 0px 0px 54px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    background-image: url('../img/show-All-variants.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.show-more-text::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid var(--defoult-n-hover-color);
    width: calc(100%);
    height: calc(100%);
    opacity: 0;
    transform: translate(-50%, -50%);
}


/*Want-tour*/

.blog-container {
    padding: 45px;
    background: #E9E9E9;
    border-radius: 15px;
}

.want-tour-container {
    gap: 41px;
}

.want-tour-form {
    padding: 31px 28px;
    gap: 51px;
    background-color: white;
    border-radius: 15px;
}

.discription {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.form-btn {
    padding: 13px 30px;
}

.select-block {
    width: 169px;
}

.input-block {
    width: 121px;
}


.select-area {
    width: inherit;
    border: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.input-area {
    width: inherit;
    border: 0px;
    border-bottom: 1px solid;
    border-color: #E9E9E9;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}


/*address*/


.telephones__telephone {
    position: relative;
}

.contacts-address {
    padding: 45px;
    gap: 52px;
    border-radius: 15px;
    background-color: white;
}

.contacts-list {
    flex-direction: column;
}

.contact-item {
    display: flex;
    padding-bottom: 23px;
    border-bottom: 1px solid #E9E9E9;
}


.contact-item:not(:last-child) {
    margin-bottom: 25px;
}

.contact-item:last-child {
    margin-bottom: 45px;
}

/*.address-data{
    position: relative;
}*/

.contact-title {

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.address-title {
    margin-right: 83px;
}

.tel-title {
    margin-right: 47px;
}

.email-title {
    margin-right: 93px;
}

.graphik-title {
    margin-right: 74px;
}

.email-links__email-link {
    display: inline-block;
}

.address-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.email-discription {
    color: var(--grey-text);
}

.contacts-container {
    margin-bottom: 40px;
}

.address-links {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}


/*footer*/


.footer {
    background: var(--title-text);
    border-radius: 15px;
    position: relative;
}

.footer-container {
    padding: 45px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.lawyer {
    width: 302px;
    margin-right: 125px;
}

.copyright {
    margin-bottom: 40px;
}

.footer-address {
    margin-right: 270px;
}

.social-block {
    flex-direction: column;
    gap: 20px;
}

.footer-address-data {
    margin-bottom: 15px;
}


.emails {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    position: absolute;
    left: 739px;
    top: 112px;
}

.emails__link {
    display: inline-block;
}

.lawyer__link {
    display: inline-block;
    position: relative;
}

.social-link__icon {
    fill: var(--grey-text);
}

.social-link__icon:focus {
    fill: var(--defoult-n-hover-color);
}


.social-link__icon:hover {
    fill: var(--defoult-n-hover-color);
}

.social-link__icon:active {
    fill: var(--active-color);
}